:root {
    --primary-color: #005F73;
    --secodary-color: #9B2226;
    --dark-color: rgb(65, 63, 63);
    --white-color: rgb(225, 236, 229);
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--primary-color);
    color:white !important;
}

footer {
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secodary-color);
}

p {
    color: var(--primary-color);
}

.titleColor {
    color: var(--primary-color);
}

.footer-text {
    font-size: 0.8rem;
}

i {
    color: var(--white-color);
    opacity: 0.75;
}

footer i:hover {
    opacity: 0.9;
    color: var(--secodary-color);
}

.bsicon {
    color: #553c7b;
}

.jsicon {
    color: #f0db4f;
}

.html5icon {
    color: orangered;
}

#content {
    min-height: 90vh;
}

.cssicon {
    color: rgb(11, 82, 214);
}

.checklist > li i {
    color: var(--secodary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.btn-rotator {
    color: var(--primary-color);
    text-decoration: none;
    background-color: white;
    border-color: #9B2226;
    border-style: solid;
    border-radius: 5%;
}

    .btn-rotator:hover,
    .btn-rotator:focus,
    .btn-rotator:active,
    .btn-rotator.active,
    .open .dropdown-toggle.btn-rotator {
        color: #ffffff;
        background-color: #9B2226;
        border-color: #9B2226;
    }

    .btn-rotator:active,
    .btn-rotator.active,
    .open .dropdown-toggle.btn-rotator {
        background-image: none;
    }

    .btn-rotator.disabled,
    .btn-rotator[disabled],
    fieldset[disabled] .btn-rotator,
    .btn-rotator.disabled:hover,
    .btn-rotator[disabled]:hover,
    fieldset[disabled] .btn-rotator:hover,
    .btn-rotator.disabled:focus,
    .btn-rotator[disabled]:focus,
    fieldset[disabled] .btn-rotator:focus,
    .btn-rotator.disabled:active,
    .btn-rotator[disabled]:active,
    fieldset[disabled] .btn-rotator:active,
    .btn-rotator.disabled.active,
    .btn-rotator[disabled].active,
    fieldset[disabled] .btn-rotator.active {
        background-color: #5200BD;
        border-color: #9B2226;
    }

    .btn-rotator .badge {
        color: #5200BD;
        background-color: #ffffff;
    }

.navbar-dark {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.btn.btn-outline-danger {
    width: 120px;
    height: 45px;
    background-image: url(../img/RotatorButtonBefore.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .btn.btn-outline-danger:hover {
        background-image: url(../img/RotatorButtonAfter.svg) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-color: transparent;
    }

    .btn.btn-outline-danger:focus {
        background-image: url(../img/ROTATOR/RotatorButtonAfter.svg) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-color: transparent;
    }

main > .container {
    padding: 60px 15px 0;
}
